* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', Impact, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: black; /* Set the background color of the body to black */
  color: white; /* Optional: set the text color to white to contrast with the black background */
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.takapic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: 4rem;
  color: white;  /* White text color */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.6);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .takapic {
    font-size: 1.8rem;  /* Adjust the font size for smaller screens */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}




/* Call to Action Section */
.cta-section {
  background-color: #000;
  color: white;
  padding: 40px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Text styling */
.cta-section p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Button styling */
.cta-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #ff4500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #e03e00;
}
